<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here
print('There are', df.duplicated().sum(), 'duplicate rows.')
print('There are', df.duplicated('Respondent').sum(), 'duplicate Respondants.')

There are 154 duplicate rows.
There are 154 duplicate Respondants.

In [4]:
# all coloums?
result = df.columns.tolist()

for col in result:
    print('There are', df.duplicated(col).sum(), 'duplicate rows in', col)

There are 154 duplicate rows in Respondent
There are 11550 duplicate rows in MainBranch
There are 11550 duplicate rows in Hobbyist
There are 11548 duplicate rows in OpenSourcer
There are 11548 duplicate rows in OpenSource
There are 11550 duplicate rows in Employment
There are 11417 duplicate rows in Country
There are 11548 duplicate rows in Student
There are 11542 duplicate rows in EdLevel
There are 11539 duplicate rows in UndergradMajor
There are 11154 duplicate rows in EduOther
There are 11542 duplicate rows in OrgSize
There are 8795 duplicate rows in DevType
There are 11500 duplicate rows in YearsCode
There are 11511 duplicate rows in Age1stCode
There are 11504 duplicate rows in YearsCodePro
There are 11547 duplicate rows in CareerSat
There are 11546 duplicate rows in JobSat
There are 11547 duplicate rows in MgrIdiot
There are 11548 duplicate rows in MgrMoney
There are 11547 duplicate rows in MgrWant
There are 11549 duplicate rows in JobSeek
There are 11546 duplicate rows in LastHireDate
There are 11488 duplicate rows in LastInt
There are 11549 duplicate rows in FizzBuzz
There are 11394 duplicate rows in JobFactors
There are 11545 duplicate rows in ResumeUpdate
There are 11450 duplicate rows in CurrencySymbol
There are 11450 duplicate rows in CurrencyDesc
There are 10042 duplicate rows in CompTotal
There are 11548 duplicate rows in CompFreq
There are 8036 duplicate rows in ConvertedComp
There are 11438 duplicate rows in WorkWeekHrs
There are 11548 duplicate rows in WorkPlan
There are 11422 duplicate rows in WorkChallenge
There are 11544 duplicate rows in WorkRemote
There are 11548 duplicate rows in WorkLoc
There are 11546 duplicate rows in ImpSyn
There are 11548 duplicate rows in CodeRev
There are 11501 duplicate rows in CodeRevHrs
There are 11547 duplicate rows in UnitTests
There are 11547 duplicate rows in PurchaseHow
There are 11548 duplicate rows in PurchaseWhat
There are 7017 duplicate rows in LanguageWorkedWith
There are 5499 duplicate rows in LanguageDesireNextYear
There are 9991 duplicate rows in DatabaseWorkedWith
There are 9873 duplicate rows in DatabaseDesireNextYear
There are 8675 duplicate rows in PlatformWorkedWith
There are 8161 duplicate rows in PlatformDesireNextYear
There are 10549 duplicate rows in WebFrameWorkedWith
There are 10534 duplicate rows in WebFrameDesireNextYear
There are 10657 duplicate rows in MiscTechWorkedWith
There are 9799 duplicate rows in MiscTechDesireNextYear
There are 9378 duplicate rows in DevEnviron
There are 11547 duplicate rows in OpSys
There are 11535 duplicate rows in Containers
There are 11546 duplicate rows in BlockchainOrg
There are 11546 duplicate rows in BlockchainIs
There are 11549 duplicate rows in BetterLife
There are 11547 duplicate rows in ITperson
There are 11548 duplicate rows in OffOn
There are 11537 duplicate rows in SocialMedia
There are 11548 duplicate rows in Extraversion
There are 11546 duplicate rows in ScreenName
There are 11538 duplicate rows in SOVisit1st
There are 11545 duplicate rows in SOVisitFreq
There are 11493 duplicate rows in SOVisitTo
There are 11546 duplicate rows in SOFindAnswer
There are 11546 duplicate rows in SOTimeSaved
There are 11547 duplicate rows in SOHowMuchTime
There are 11548 duplicate rows in SOAccount
There are 11545 duplicate rows in SOPartFreq
There are 11548 duplicate rows in SOJobs
There are 11548 duplicate rows in EntTeams
There are 11546 duplicate rows in SOComm
There are 11545 duplicate rows in WelcomeChange
There are 11536 duplicate rows in SONewContent
There are 11488 duplicate rows in Age
There are 11544 duplicate rows in Gender
There are 11549 duplicate rows in Trans
There are 11544 duplicate rows in Sexuality
There are 11462 duplicate rows in Ethnicity
There are 11549 duplicate rows in Dependents
There are 11548 duplicate rows in SurveyLength
There are 11548 duplicate rows in SurveyEase

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [5]:
# your code goes here
df.drop_duplicates(inplace=True)
df.shape

(11398, 85)

In [6]:
df.shape

(11398, 85)

Verify if duplicates were actually dropped.

In [38]:
# your code goes here

print('There are', df.duplicated().sum(), 'duplicate rows in Respondent')

There are 0 duplicate rows in Respondent

In [41]:
df['Respondent'].count()

11398

## Finding Missing values

Find the missing values for all columns.

In [8]:
# your code goes here
with pd.option_context('display.max_rows', None, 'display.max_columns', None): # 'with' becoz of a long coloumns list
    print(df.isnull().sum())

Respondent                   0
MainBranch                   0
Hobbyist                     0
OpenSourcer                  0
OpenSource                  81
Employment                   0
Country                      0
Student                     51
EdLevel                    112
UndergradMajor             737
EduOther                   164
OrgSize                     96
DevType                     65
YearsCode                    9
Age1stCode                  13
YearsCodePro                16
CareerSat                    0
JobSat                       1
MgrIdiot                   493
MgrMoney                   497
MgrWant                    493
JobSeek                      0
LastHireDate                 0
LastInt                    413
FizzBuzz                    37
JobFactors                   3
ResumeUpdate                39
CurrencySymbol               0
CurrencyDesc                 0
CompTotal                  809
CompFreq                   206
ConvertedComp              816
WorkWeekHrs                122
WorkPlan                   121
WorkChallenge              164
WorkRemote                   8
WorkLoc                     32
ImpSyn                       5
CodeRev                      1
CodeRevHrs                2426
UnitTests                   29
PurchaseHow                196
PurchaseWhat                38
LanguageWorkedWith          11
LanguageDesireNextYear     134
DatabaseWorkedWith         453
DatabaseDesireNextYear    1042
PlatformWorkedWith         411
PlatformDesireNextYear     544
WebFrameWorkedWith        1393
WebFrameDesireNextYear    1617
MiscTechWorkedWith        2182
MiscTechDesireNextYear    1455
DevEnviron                  29
OpSys                       34
Containers                  82
BlockchainOrg             2322
BlockchainIs              2610
BetterLife                  98
ITperson                    35
OffOn                       38
SocialMedia                293
Extraversion                20
ScreenName                 507
SOVisit1st                 325
SOVisitFreq                  5
SOVisitTo                    1
SOFindAnswer                 3
SOTimeSaved                 50
SOHowMuchTime             1917
SOAccount                    1
SOPartFreq                1128
SOJobs                       6
EntTeams                     5
SOComm                       0
WelcomeChange               85
SONewContent              1965
Age                        287
Gender                      73
Trans                      123
Sexuality                  542
Ethnicity                  675
Dependents                 140
SurveyLength                19
SurveyEase                  14
dtype: int64

In [9]:
# your code goes here
with pd.option_context('display.max_rows', None, 'display.max_columns', None): # 'with' becoz of a long coloumns list
    print(df.isnull().sum()/df.count()*100)

Respondent                 0.000000
MainBranch                 0.000000
Hobbyist                   0.000000
OpenSourcer                0.000000
OpenSource                 0.715737
Employment                 0.000000
Country                    0.000000
Student                    0.449458
EdLevel                    0.992380
UndergradMajor             6.913048
EduOther                   1.459854
OrgSize                    0.849407
DevType                    0.573546
YearsCode                  0.079024
Age1stCode                 0.114185
YearsCodePro               0.140573
CareerSat                  0.000000
JobSat                     0.008774
MgrIdiot                   4.520862
MgrMoney                   4.559215
MgrWant                    4.520862
JobSeek                    0.000000
LastHireDate               0.000000
LastInt                    3.759672
FizzBuzz                   0.325676
JobFactors                 0.026327
ResumeUpdate               0.343340
CurrencySymbol             0.000000
CurrencyDesc               0.000000
CompTotal                  7.640004
CompFreq                   1.840600
ConvertedComp              7.711208
WorkWeekHrs                1.081944
WorkPlan                   1.072980
WorkChallenge              1.459854
WorkRemote                 0.070237
WorkLoc                    0.281541
ImpSyn                     0.043887
CodeRev                    0.008774
CodeRevHrs                27.039679
UnitTests                  0.255080
PurchaseHow                1.749688
PurchaseWhat               0.334507
LanguageWorkedWith         0.096601
LanguageDesireNextYear     1.189631
DatabaseWorkedWith         4.138876
DatabaseDesireNextYear    10.061800
PlatformWorkedWith         3.740785
PlatformDesireNextYear     5.011977
WebFrameWorkedWith        13.923038
WebFrameDesireNextYear    16.532052
MiscTechWorkedWith        23.676215
MiscTechDesireNextYear    14.633410
DevEnviron                 0.255080
OpSys                      0.299190
Containers                 0.724638
BlockchainOrg             25.583958
BlockchainIs              29.699590
BetterLife                 0.867257
ITperson                   0.308017
OffOn                      0.334507
SocialMedia                2.638451
Extraversion               0.175778
ScreenName                 4.655220
SOVisit1st                 2.935067
SOVisitFreq                0.043887
SOVisitTo                  0.008774
SOFindAnswer               0.026327
SOTimeSaved                0.440606
SOHowMuchTime             20.219386
SOAccount                  0.008774
SOPartFreq                10.983447
SOJobs                     0.052669
EntTeams                   0.043887
SOComm                     0.000000
WelcomeChange              0.751348
SONewContent              20.831125
Age                        2.583026
Gender                     0.644592
Trans                      1.090909
Sexuality                  4.992631
Ethnicity                  6.294880
Dependents                 1.243560
SurveyLength               0.166974
SurveyEase                 0.122980
dtype: float64

Find out how many rows are missing in the column 'WorkLoc'

In [10]:
# your code goes here
df['WorkLoc'].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [11]:
# your code goes here
df['WorkLoc'].nunique() #how many unique value

3

In [12]:

# Python program to check if two 
# to get unique values from list
# using set 
  
# function to get unique values
def unique(list1):
      
    # insert the list to the set
    list_set = set(list1)
    # convert the set to the list
    unique_list = (list(list_set))
    for x in unique_list:
        print (x),

In [13]:
unique(df['WorkLoc']) #only string -- select value

Office
nan
Other place, such as a coworking space or cafe
Home

Identify the value that is most frequent (majority) in the WorkLoc column.

In [14]:
#make a note of the majority value here, for future reference
df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [15]:
# your code goes here
print("Before: There are", df['WorkLoc'].isnull().sum(), "empty rows in WorkLoc.")

Before: There are 32 empty rows in WorkLoc.

In [16]:
import statistics
import numpy as np
workloc_mode = statistics.mode(df['WorkLoc'])
df['WorkLoc'].replace(np.nan, workloc_mode, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [28]:
# your code goes here
print("After: There are", df['WorkLoc'].count(), "rows and", df['WorkLoc'].isnull().sum(), "empty field in WorkLoc.")

After: There are 11398 rows and 0 empty field in WorkLoc.

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [43]:
# your code goes here
CompFreq_uni = unique(df['CompFreq']) #only string -- select value

nan
Yearly
Monthly
Weekly

In [46]:
df['UndergradMajor'].value_counts()

Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

In [44]:
unique(df['CompFreq'])

nan
Yearly
Monthly
Weekly

In [29]:
df['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

In [32]:
print("There are",df['CompFreq'].isnull().sum(), "empty cell in CompFreq.")

There are 206 empty cell in CompFreq.

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [34]:
# your code goes here
df.loc[df['CompFreq'] == 'Yearly', 'NormalizedAnnualCompensation']  = 1  * df['CompTotal']
df.loc[df['CompFreq'] == 'Monthly', 'NormalizedAnnualCompensation'] = 12 * df['CompTotal']
df.loc[df['CompFreq'] == 'Weekly', 'NormalizedAnnualCompensation']  = 52 * df['CompTotal']

df[['CompTotal','CompFreq','NormalizedAnnualCompensation']].head(20)

    CompTotal CompFreq  NormalizedAnnualCompensation
0     61000.0   Yearly                       61000.0
1    138000.0   Yearly                      138000.0
2     90000.0   Yearly                       90000.0
3     29000.0  Monthly                      348000.0
4     90000.0   Yearly                       90000.0
5      9500.0  Monthly                      114000.0
6      3000.0  Monthly                       36000.0
7    103000.0   Yearly                      103000.0
8     69000.0   Yearly                       69000.0
9      8000.0  Monthly                       96000.0
10     7000.0  Monthly                       84000.0
11   114000.0   Yearly                      114000.0
12     2000.0   Weekly                      104000.0
13    22000.0   Weekly                     1144000.0
14    96000.0  Monthly                     1152000.0
15   156000.0   Yearly                      156000.0
16    18000.0   Yearly                       18000.0
17     6400.0  Monthly                       76800.0
18     5000.0  Monthly                       60000.0
19   400000.0   Yearly                      400000.0

In [47]:
df['NormalizedAnnualCompensation'].median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).